.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre2 {
    height: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: auto
    }
.calibre3 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    text-indent: 30px
    }
.calibre4 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.calibre5 {
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre6 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre7 {
    display: block;
    line-height: 1.2
    }
.calibre8 {
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre9 {
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify
    }
.calibre10 {
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right
    }
.calibre11 {
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left
    }
.calibre12 {
    line-height: 1.2
    }
.calibre13 {
    display: block;
    font-size: 0.75em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre14 {
    font-style: italic
    }
.calibre15 {
    display: block;
    font-size: 0.75em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify
    }
.calibre16 {
    height: auto;
    line-height: 1.2;
    width: 560px
    }
.calibre17 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.calibre18 {
    height: auto;
    line-height: 1.2;
    width: auto
    }
.calibre19 {
    height: auto;
    line-height: 1.2;
    text-align: justify;
    width: auto
    }
.calibre20 {
    display: block
    }
.calibre21 {
    display: block;
    text-align: center
    }
.calibre22 {
    height: auto;
    width: auto
    }
.calibre23 {
    font-weight: bold
    }
.calibre24 {
    height: auto;
    text-align: justify;
    width: auto
    }
.calibre25 {
    font-size: 1em
    }
.calibre26 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
